*{
    margin: 0;
    padding: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.sub-container{
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.heading{
    color: #f69d3c;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button{
    margin: 15px;
}

.back{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    background-size: cover;
    height: 89.7vh;
}